<div class="wrapper">
    <div *ngIf="!isEmpty" class="view-wrapper">
        <div class="content">   
            <div *ngIf="isLoading" class="spiner">
                <mat-spinner></mat-spinner>
            </div>     
            <div *ngIf = "!isLoading">
                <app-auction-item *ngFor="let auction of Auctions" class="auction-item"
                    [auction]="auction">
                </app-auction-item>
            </div>
        </div>
    </div>
    <div *ngIf="isEmpty" class="empty">
        <img src="../../../assets/icons/telescope.svg">
        <span>You haven't watched anything yet</span>
        <span class="route" routerLink="/auction/dashboard">Discover auctions!</span>
    </div>
</div>

