<div class="wrapper">
    <div class="view-wrapper">
        <div class="content">   
            <div *ngIf="isLoading" class="spiner">
                <mat-spinner></mat-spinner>
            </div>     
            <div *ngIf = "!isLoading">
                <app-auction-item *ngFor="let auction of Auctions" class="auction-item"
                    [auction]="auction">
                </app-auction-item>
                <div class="load-btn shadow" (click)="loadMore()" >
                    Load more
                </div>
            </div>
        </div>
    </div>
</div>

