<div class="wrapper">
    <mat-list>
        <mat-list-item *ngFor="let bid of bids" class="bid">
            <div class="content flex center">
                <div class="user flex center pointer" [routerLink]="'/user/'+bid.value.userId">
                    <img [src]="bid.user.profilePicture">
                    <span class="username" >{{bid.user.username}}</span>
                </div>
                <span class="value">{{bid.value.price}}</span>
                <span class="time">{{bid.time}}</span>
            </div>
        </mat-list-item>
    </mat-list>
</div>
