<div class="auction-item-wrapper">
    <img class="item-image" [src]="placeholder">
    <div class="auction-item">
        <div class="auction-info">
            <div class="auction-timer">
                <img src="../../assets/icons/clock_timer.svg">
                <span>{{days}}d {{hours}}h {{min}}m {{sec}}s</span>
            </div>
            <div class="auction-price">
                <span>{{auctionStartPrice}}$</span>
            </div>
        </div>
    </div>
    <div class="item-info">
        <div class="nameholder">{{name}}</div>
        <div class="description">{{description}}</div>
    </div>
</div>
