<div class="wrapper">
    <div class="wrapper-content">
        <div class="icon shadow" [style.backgroundColor]="backgroundColor">
            <img src="{{iconUrl}}">
        </div>
        <div class="content">
            <div class="title">
                {{title}}
            </div>
            <div class="value">
                <span class="amount">
                    {{value}}<span class="penny">{{subValue}}</span> {{unit}}
                </span>
            </div>
        </div>
    </div>
    <div class="hover shadow" [style.backgroundColor]="backgroundColor">
        <ng-content></ng-content>
    </div>
</div>