.container-wrapper 
  height: 100%
  width: 100%
  
.container
  height: 100%
  
  background: transparent
  display: flex
  justify-content: center
  align-items: center

  .auth-form
    background: white
    position: absolute
    top: 25%
    border-radius: 12px
    padding: 20px
    -webkit-box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.1)
    -moz-box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.1)
    box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.1)

    h2
      text-align: center
      align: center
      color: #3f51b5
      margin: 20px 0px 0px 0px

    form
      display: flex
      vertical-align: middle
      justify-content: center
      mat-list
        mat-list-item
          width: 350px
          margin-top: 36px
          mat-form-field
            width: 100%
            input
              padding-left: 10px
            mat-label
              padding-left: 10px
      
      button
        width: 33%
        min-width: 80px
        margin: 0 auto
    .signup-message
      text-align: center
      button
        margin-left: -10px
     