<div class="wrapper">
    <div class="auction-block shadow" *ngIf="!isLoading">
        <div class="media shadow">
            <img [src]="auction.images[0]">
        </div>
        <div class="info">
            <div class="title">
                {{auction.title}}
            </div>
            <div class="categories">
                <span *ngFor="let category of auction.categories" class="category">
                    {{category.name}} 
                </span>
                <span class="category pointer">
                    by <i routerLink="/profile/view/{{auction.creator.id}}" class="creator">{{auction.creator.username}}</i> 
                </span>
            </div>
            <div class="bidders">
                <div class="profile-pics">
                    <div *ngFor="let bidder of displayBidders" class="profile-pic" >
                        <img [src]="bidder.profilePicture">
                    </div>
                    <span>
                        {{bidders.length}} people participate in the auction...
                    </span>          
                </div>
            </div>
            <div class="parameters">
                <div class="parameter"> 
                    <img src="../../../assets/icons/calendar-add.svg">
                    <div>
                        <div class="value">
                            {{creationTime}}
                        </div>
                        <div class="name">
                            Creation Date
                        </div>
                    </div>
                </div>
                <div class="parameter">
                    <img src="../../../assets/icons/calendar-add.svg">
                    <div>
                        <div class="value">
                           {{startTime}}
                        </div>
                        <div class="name">
                            Open Date
                        </div>
                    </div>
                </div>
                <div class="parameter">
                    <img src="../../../assets/icons/calendar-add.svg">
                    <div>
                        <div class="value">
                            {{endTime}}
                        </div>
                        <div class="name">
                            Close Date
                        </div>
                    </div>
                </div>
                <div class="parameter">
                    <img src="../../../assets/icons/dollar-sign.svg">
                    <div>
                        <div class="value">
                            {{auction.startPrice}}<br>
                            USD
                        </div>
                        <div class="name">
                            Start Price
                        </div>
                    </div>
                </div>
                <div class="parameter">
                    <img src="../../../assets/icons/trending-up.svg">
                    <div>
                        <div class="value">
                           {{auction.priceStep}}<br>
                           USD
                        </div>
                        <div class="name">
                            Price Step
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bid-block" *ngIf="!isLoading && this.auction.startTime < currentTime && this.auction.endTime > currentTime && !isLoading">
        <div class="bid-list">
            <h2>
                Bids
            </h2>
            <app-bidders-list [bids]="bids">

            </app-bidders-list>
        </div>
        <div class="bid-controller">
            <h2>
                Place Bid
            </h2>
            <div class="flex-item">
            </div>
            <div class="bid-ctrl">
                <app-bid-control [bidStep]="this.auction.priceStep" [currentPrice]="currentPrice" [auctionId]="auctionId"></app-bid-control>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && this.auction.endTime < currentTime" class="auction-ended">
        <img src="../../../assets/icons/astronaut.svg">
        <span>Auction is ended...</span>
    </div>
    <div class="countdown" *ngIf="!isLoading && this.auction.startTime > currentTime && !isLoading">
        <app-timer [creationDate]="auction.creationTime" [startDate]="auction.startTime"></app-timer>
    </div>
    <div *ngIf="isLoading" class="center">
        <mat-spinner></mat-spinner>
    </div>
</div>  
