<div class="wrapper">
    <div class="info">
        <img *ngIf="transaction.transactionType == 1" src="../../../../../assets/icons/send.svg">
        <img *ngIf="transaction.transactionType == 0" src="../../../../../assets/icons/download.svg">
        <div>
            <div class="receiver">
                {{transaction.description}}   
            </div>
            <div class="reason" *ngIf="transaction.transactionType == 1">
                Withdrawal from balance 
            </div>
            <div class="reason" *ngIf="transaction.transactionType == 0">
                Refill balance
            </div>
        </div>
    </div>
    <div class="amount">
        <span *ngIf="transaction.transactionType == 0">+</span> 
        <span *ngIf="transaction.transactionType == 1">-</span> 
        {{transaction.amount}} <span class="currency">USD</span>
    </div>
</div>