<div class="payment-info-wrapper">
    <div class="payment-methods-wrapper">
        <div class="title">
            <h2>
                Your Cards
            </h2>
            <button (click)="cardDialog()">
                <span>New card</span>
                <img src="../../../assets/icons/plus.svg">
            </button>
        </div>
        <div class="payment-methods">
            <owl-carousel-o *ngIf="!isCardLoading && !isCardEmpty" [options]="customOptions">
                <ng-template *ngFor="let item of creditCards" carouselSlide>
                    <app-credit-card 
                    [cardNumber] = "item.card.cardNumber" 
                    [isDefault]="item.isDefault" 
                    [experationTimestamp] = "item.card.expiration" 
                    (contextmenu)="open($event, item); $event. preventDefault();"
                    carouselSlide></app-credit-card>
                </ng-template>
            </owl-carousel-o>
            <div *ngIf="!isCardLoading && isCardEmpty" class="card-empty">
                <img src="../../../assets/icons/bb2.svg">
                <span> Beeeep.. BB-2 didn't find any cards </span>
            </div>
            <div class="spinner" *ngIf="isCardLoading">
                <mat-spinner *ngIf="isCardLoading"></mat-spinner>
            </div>
            
        </div>
    </div>
    <div class="payment-info">
        <div class="stat">
            <div class="payment-limits">
                <app-limits></app-limits>
            </div>
            <hr>
            <div class="payment-statistic">
                <app-payment-statistic></app-payment-statistic>
            </div>
        </div>
        <div class="recent-payment">
            <app-recent-activity>

            </app-recent-activity>
        </div>
    </div>
</div>

<ng-template #cardMenu let-item>
	<section class="card-menu">
		<div (click)="deleteMethod(item)">Delete {{item.card.cardNumber}}</div>
		<div (click)="makeDefault(item)">Set as default payment method</div>
	</section>
</ng-template>