<div class="promotion shadow">
    <div class="plus">
        <h2>Get Plus Account</h2>
        <div class="description">Up to 5 auctions & more</div>      
        <div class="subscription">
            <ul>
                <li>
                    <div class="subscription-item">
                        <div class="time">
                            <span class="checkbox"></span>
                            <span>12 </span><span>months</span>
                        </div>
                        <div class="price">
                            <span>UAH 198</span>
                            <span>/mo Save 34%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="subscription-item disabled">
                        <div class="time">
                            <span class="checkbox"></span>
                            <span>6 </span><span>months</span>
                        </div>
                        <div class="price">
                            <span>UAH 240</span>
                            <span>/mo Save 20%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="subscription-item disabled">
                        <div class="time">
                            <span class="checkbox"></span>
                            <span>1 </span><span>month</span>
                        </div>
                        <div class="price">
                            <span>UAH 300</span>
                            <span>/mo</span>
                        </div>
                    </div>
                </li>
                <li>
                    <button>
                        Checkout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>