<div class="wrapper">
    <h1>Auction start in...</h1>
    <div>
        <circle-progress
            [percent]="dayPercent"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#5b6bdc'"
            [innerStrokeColor]="'#706e8a'"
            [animation]="false"
            [animationDuration]="300"
            titleFontSize="24"
            title="Days"
            subtitleFontSize="20"
            [subtitle]="days"
            units=""
        ></circle-progress>
        <circle-progress
            [percent]="hoursPercent"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#5b6bdc'"
            [innerStrokeColor]="'#706e8a'"
            [animation]="false"
            [animationDuration]="300"
            titleFontSize="24"
            title="Hours"
            subtitleFontSize="20"
            [subtitle]="hours"
            units=""
        ></circle-progress>
        <circle-progress
            [percent]="minPercent"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#5b6bdc'"
            [innerStrokeColor]="'#706e8a'"
            [animation]="false"
            [animationDuration]="300"
            titleFontSize="24"
            title="Minutes"
            subtitleFontSize="20"
            [subtitle]="min"
            units=""
        ></circle-progress>
        <circle-progress
            [percent]="secPercent"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#5b6bdc'"
            [innerStrokeColor]="'#706e8a'"
            [animation]="false"
            [animationDuration]="300"
            titleFontSize="24"
            title="Seconds"
            subtitleFontSize="20"
            [subtitle]="sec"
            units=""
        ></circle-progress>
    </div>
</div>
