<div class="navigation">
    <!-- <img class="navigationButton" src="../../assets/icons/align-left.svg"> -->

    <div class="slider">
        <div class="pointer"></div>
    </div>
    <ul>
        <li><a routerLink="/dashboard" class="nav-item first"><img src="../../assets/icons/dashboard.svg"></a></li>
        <li><a routerLink="/auction" class="nav-item" ng-click="load()"><img src="../../assets/icons/auction.svg"></a></li>
        <li><a routerLink="/watched"  class="nav-item"><img src="../../assets/icons/eye.svg"></a></li>
        <li><a routerLink="/liked"  class="nav-item"><img src="../../assets/icons/heart.svg"></a></li>
        <li><a routerLink="/scheduled"  class="nav-item"><img src="../../assets/icons/clock.svg"></a></li>
        <li><a routerLink="/profile"  class="nav-item"><img src="../../assets/icons/nav-user.svg"></a></li>
    </ul>
</div>
