<div class="wrapper shadow">
    <div class="content">
        <div class="header">
            Samsung Galaxy S20 Plus Ultra
        </div>
        <div class="props">
            <div>
                11 April, 2020
            </div>
            <div>
                $ 20
            </div>
            <div>
                $ 1000
            </div>
        </div>
    </div>
    <button class="shadow" routerLink="/auction/kek">
        <img src="../../../assets/icons/chevron-right.svg">
    </button>
</div>
